<div class="header">
    <div class="logo">
        <img ngSrc="../../../../public/logo.png" alt="Petcare Logo" width="250" height="250" priority>
    </div>
    <button class="logout-button">Sair</button>
</div>

<div class="menu-navigation">
    <nav class="navigation">
        <button routerLink="/home" class="nav-button">Home</button>
        <button routerLink="/agenda" class="nav-button">Agenda Banho e Tosa</button>
        <button routerLink="/cadastro-cliente" class="nav-button">Cliente</button>
        <button routerLink="#" class="nav-button">Hitórico</button>
    </nav>
</div>

<div class="divisor-line"></div>