@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
/* Estilo geral */
body {
    font-family: 'Playwrite NG Modern', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  