/* Conteúdo principal */
.main-content {
  padding: 20px;
}

.activity-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.activity-card {
  background-color: #e0f7fa;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}