/* Cabeçalho */
.header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ffe6f2, #ffccf2, #ffb3e6, #ff99e6, #ff80d5);
  flex-wrap: wrap;
  padding: 12px;
  color: #fff;
  font-family: 'Playwrite NG Modern', sans-serif;
}
img {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  }
.logo img {
  clip-path: circle(110px);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.nav-button, .logout-button {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Playwrite NG Modern', sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-button:hover, .logout-button:hover {
  background-color: #ff80d5;
  color: #fff;
  font-size: 1.5rem;

}

  /* Conteúdo principal */
  .main-content {
    padding: 20px;
  }
  
  .activity-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .activity-card {
    background-color: #e0f7fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  