
<div class="header">
    <div class="logo">
      <img ngSrc="logo.png" alt="Petcare Logo" width="250" height="250" priority>
    </div>
    <nav class="navigation">
      <button class="nav-button">Home</button>
      <button routerLink="/agenda" class="nav-button">Agenda Banho e Tosa</button>

    </nav>
    <button class="logout-button">Sair</button>
  </div>
  
  <div class="main-content">
    <div class="activity-section">
      <h2>Próximas atividades</h2>
      <div class="activity-card">
        <p>Banho e tosa - 10/07 - 17:30</p>
        <p>Fulano S. - Cão/Dino</p>
      </div>
      <div class="activity-card">
        <p>Banho e tosa - 10/07 - 18:00</p>
        <p>Beltrano T. - Cão/Scooby</p>
      </div>
      <div class="activity-card">
        <p>Banho - 11/07 - 08:00</p>
        <p>Ciclana A. - Gato/Milk</p>
      </div>
    </div>
  </div>
  